{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "US Core R4",
    "description" : "In adherence to changes per the [21st Century Cures Act](https://www.federalregister.gov/documents/2020/05/01/2020-07419/21st-century-cures-act-interoperability-information-blocking-and-the-onc-health-it-certification#h-13), the Veteran Health API profile follows the US Core Implementation Guide. Per these regulations, we will be adding new FHIR resources to this tab as they are available.\n\nThis service is compliant with the FHIR US Core Implementation Guide. This service does not provide or replace the consultation, guidance, or care of a health care professional or other qualified provider. This service provides a supplement for informational and educational purposes only. Health care professionals and other qualified providers should continue to consult authoritative records when making decisions.",
    "version" : "v1"
  },
  "externalDocs" : {
    "description" : "US Core Implementation Guide",
    "url" : "https://build.fhir.org/ig/HL7/US-Core-R4/index.html"
  },
  "servers" : [
    {
      "url" : "https://sandbox-api.va.gov/services/fhir/v0/r4/",
      "description" : "Sandbox",
      "variables" : { }
    },
    {
      "url" : "https://api.va.gov/services/fhir/v0/r4/",
      "description" : "Production",
      "variables" : { }
    }
  ],
  "security" : [
    {
      "OauthFlowSandbox" : [
        "patient/AllergyIntolerance.read",
        "system/Appointment.read",
        "patient/Condition.read",
        "patient/Device.read",
        "patient/DiagnosticReport.read",
        "patient/Immunization.read",
        "patient/Medication.read",
        "patient/MedicationRequest.read",
        "patient/Observation.read",
        "patient/Patient.read",
        "patient/Practitioner.read",
        "patient/PractitionerRole.read",
        "patient/Procedure.read",
        "offline_access",
        "launch/patient"
      ]
    },
    {
      "OauthFlowProduction" : [
        "patient/AllergyIntolerance.read",
        "system/Appointment.read",
        "patient/Condition.read",
        "patient/Device.read",
        "patient/DiagnosticReport.read",
        "patient/Immunization.read",
        "patient/Medication.read",
        "patient/MedicationRequest.read",
        "patient/Observation.read",
        "patient/Patient.read",
        "patient/Practitioner.read",
        "patient/PractitionerRole.read",
        "patient/Procedure.read",
        "offline_access",
        "launch/patient"
      ]
    }
  ],
  "paths" : {
    "/AllergyIntolerance" : {
      "get" : {
        "tags" : [
          "Allergy Intolerance"
        ],
        "summary" : "Allergy Intolerance Search",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-allergyintolerance.html",
        "operationId" : "allergyIntoleranceSearch",
        "parameters" : [
          {
            "name" : "patient",
            "in" : "query",
            "description" : "The Integration Control Number (ICN) assigned by the Master Patient Index (MPI) of the patient who has the allergy or intolerance.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "_id",
            "in" : "query",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "identifier",
            "in" : "query",
            "description" : "The logical identifier of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "page",
            "in" : "query",
            "description" : "The page number of the search result.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            }
          },
          {
            "name" : "_count",
            "in" : "query",
            "description" : "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 30
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Records found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AllergyIntoleranceBundle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/AllergyIntolerance/{id}" : {
      "get" : {
        "tags" : [
          "Allergy Intolerance"
        ],
        "summary" : "Allergy Intolerance Read",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-allergyintolerance.html",
        "operationId" : "allergyIntoleranceRead",
        "parameters" : [
          {
            "name" : "id",
            "in" : "path",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Record found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AllergyIntolerance"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Appointment" : {
      "get" : {
        "tags" : [
          "Appointment"
        ],
        "summary" : "Appointment Search",
        "description" : "https://www.hl7.org/fhir/R4/appointment.html",
        "operationId" : "appointmentSearch",
        "parameters" : [
          {
            "name" : "patient",
            "in" : "query",
            "description" : "An Integration Control Number (ICN) assigned by the Master Patient Index (MPI) that refers to a patient that is participating in the appointment.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "_id",
            "in" : "query",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "identifier",
            "in" : "query",
            "description" : "The logical identifier of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "location",
            "in" : "query",
            "description" : "The location ID of the facility where the appointment takes place.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "_lastUpdated",
            "in" : "query",
            "description" : "The date when the appointment record was last updated.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "date",
            "in" : "query",
            "description" : "A date or range of dates (maximum of 2) that describe the date of the appointment.",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          },
          {
            "name" : "page",
            "in" : "query",
            "description" : "The page number of the search result.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            }
          },
          {
            "name" : "_count",
            "in" : "query",
            "description" : "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 30
            }
          },
          {
            "name" : "_sort",
            "in" : "query",
            "description" : "Parameters by which to sort results.",
            "schema" : {
              "type" : "string"
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Record found",
            "content" : {
              "application/json+fhir" : {
                "schema" : {
                  "$ref" : "#/components/schemas/AppointmentBundle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json+fhir" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json+fhir" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Appointment/{id}" : {
      "get" : {
        "tags" : [
          "Appointment"
        ],
        "summary" : "Appointment Read",
        "description" : "https://www.hl7.org/fhir/R4/appointment.html",
        "operationId" : "appointmentRead",
        "parameters" : [
          {
            "name" : "id",
            "in" : "path",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Record found",
            "content" : {
              "application/json+fhir" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Appointment"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json+fhir" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json+fhir" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Condition" : {
      "get" : {
        "tags" : [
          "Condition"
        ],
        "summary" : "Condition Search",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-condition.html",
        "operationId" : "conditionSearch",
        "parameters" : [
          {
            "name" : "patient",
            "in" : "query",
            "description" : "The Integration Control Number (ICN) assigned by the Master Patient Index (MPI) that indicates the patient who the condition record is associated with.",
            "schema" : {
              "type" : "string"
            },
            "example" : "1011537977V693883"
          },
          {
            "name" : "_id",
            "in" : "query",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            },
            "example" : "I2-FOBJ7YQOH3RIQ5UZ6TRM32ZSQA000000"
          },
          {
            "name" : "identifier",
            "in" : "query",
            "description" : "The logical identifier of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            },
            "example" : "I2-FOBJ7YQOH3RIQ5UZ6TRM32ZSQA000000"
          },
          {
            "name" : "category",
            "in" : "query",
            "description" : "The category the condition record belongs to. Can be used to distinguish between health concerns and problems. [Condition Category Codes](https://www.hl7.org/fhir/valueset-condition-category.html)",
            "schema" : {
              "type" : "string"
            },
            "example" : "http://terminology.hl7.org/CodeSystem/condition-category|problem-list-item"
          },
          {
            "name" : "clinical-status",
            "in" : "query",
            "description" : "Indicates the clinical state of the condition described by the record, taking prior conditions into account.[Condition Clinical Status Codes](https://hl7.org/fhir/r4/valueset-condition-clinical.html)",
            "schema" : {
              "type" : "string"
            },
            "example" : "http://terminology.hl7.org/CodeSystem/condition-clinical|active,resolved"
          },
          {
            "name" : "page",
            "in" : "query",
            "description" : "The page number being requested.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            },
            "example" : 1
          },
          {
            "name" : "_count",
            "in" : "query",
            "description" : "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 30
            },
            "example" : 30
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Record found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ConditionBundle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Condition/{id}" : {
      "get" : {
        "tags" : [
          "Condition"
        ],
        "summary" : "Condition Read",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-condition.html",
        "operationId" : "conditionRead",
        "parameters" : [
          {
            "name" : "id",
            "in" : "path",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "required" : true,
            "schema" : {
              "type" : "string"
            },
            "example" : "I2-FOBJ7YQOH3RIQ5UZ6TRM32ZSQA000000"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Record found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Condition"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Device" : {
      "get" : {
        "tags" : [
          "Device"
        ],
        "summary" : "Implantable Device Search",
        "description" : "http://hl7.org/fhir/us/core/StructureDefinition-us-core-implantable-device.html",
        "operationId" : "deviceSearch",
        "parameters" : [
          {
            "name" : "patient",
            "in" : "query",
            "description" : "The Integration Control Number (ICN) assigned by the Master Patient Index (MPI) that indicates the patient who the device record is associated with.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "_id",
            "in" : "query",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "identifier",
            "in" : "query",
            "description" : "The logical identifier of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "type",
            "in" : "query",
            "description" : "The code used to identify the medical device.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "page",
            "in" : "query",
            "description" : "The page number being requested.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            }
          },
          {
            "name" : "_count",
            "in" : "query",
            "description" : "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 30
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Records Found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DeviceBundle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Device/{id}" : {
      "get" : {
        "tags" : [
          "Device"
        ],
        "summary" : "Implantable Device Read",
        "description" : "http://hl7.org/fhir/us/core/StructureDefinition-us-core-implantable-device.html",
        "operationId" : "deviceRead",
        "parameters" : [
          {
            "name" : "id",
            "in" : "path",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Record found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Device"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/DiagnosticReport" : {
      "get" : {
        "tags" : [
          "DiagnosticReport"
        ],
        "summary" : "Diagnostic Report Search",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-diagnosticreport-lab.html",
        "operationId" : "diagnosticReportSearch",
        "parameters" : [
          {
            "name" : "patient",
            "in" : "query",
            "description" : "The Integration Control Number (ICN) assigned by the Master Patient Index (MPI) that indicates the patient who the record is associated with.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "_id",
            "in" : "query",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "identifier",
            "in" : "query",
            "description" : "The logical identifier of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "category",
            "in" : "query",
            "description" : "The category classifies the clinical discipline, department or diagnostic service that created the report. [Diagnostic Service Section Codes](https://www.hl7.org/fhir/valueset-diagnostic-service-sections.html)",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "code",
            "in" : "query",
            "description" : "A code that indicates the type of information contained within the diagnostic report. [LOINC Diagnostic Report Codes](https://www.hl7.org/fhir/valueset-report-codes.html)",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "date",
            "in" : "query",
            "description" : "A date or range of dates (maximum of 2) that describe the date that the diagnostic report was recorded.",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          },
          {
            "name" : "status",
            "in" : "query",
            "description" : "The status of the report.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "page",
            "in" : "query",
            "description" : "The page number being requested.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            }
          },
          {
            "name" : "_count",
            "in" : "query",
            "description" : "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 30
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Records Found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DiagnosticReportBundle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/DiagnosticReport/{id}" : {
      "get" : {
        "tags" : [
          "DiagnosticReport"
        ],
        "summary" : "Diagnostic Report Read",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-diagnosticreport-lab.html",
        "operationId" : "diagnosticReportRead",
        "parameters" : [
          {
            "name" : "id",
            "in" : "path",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Record Found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DiagnosticReport"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad Request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not Found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Immunization" : {
      "get" : {
        "tags" : [
          "Immunization"
        ],
        "summary" : "Immunization Search",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-immunization.html",
        "operationId" : "immunizationSearch",
        "parameters" : [
          {
            "name" : "patient",
            "in" : "query",
            "description" : "The Integration Control Number (ICN) assigned by the Master Patient Index (MPI) that indicates the patient who the immunization record is associated with.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "_id",
            "in" : "query",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "identifier",
            "in" : "query",
            "description" : "The logical identifier of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "page",
            "in" : "query",
            "description" : "The page number being requested.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            }
          },
          {
            "name" : "_count",
            "in" : "query",
            "description" : "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 30
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Records Found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ImmunizationBundle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Immunization/{id}" : {
      "get" : {
        "tags" : [
          "Immunization"
        ],
        "summary" : "Immunization Read",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-immunization.html",
        "operationId" : "immunizationRead",
        "parameters" : [
          {
            "name" : "id",
            "in" : "path",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Record found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Immunization"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Location" : {
      "get" : {
        "tags" : [
          "Location"
        ],
        "summary" : "Location Search",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-location.html",
        "operationId" : "locationSearch",
        "parameters" : [
          {
            "name" : "_id",
            "in" : "query",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "identifier",
            "in" : "query",
            "description" : "The logical identifier of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "address",
            "in" : "query",
            "description" : "Indicates the physical location of the record expressed using postal conventions (as opposed to GPS or other location definition formats).",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "address-city",
            "in" : "query",
            "description" : "Indicates the geographical city where the location resides.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "address-state",
            "in" : "query",
            "description" : "Indicates the geographical state where the location resides.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "address-postalcode",
            "in" : "query",
            "description" : "Indicates the postal code that designates the region where the location resides.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "name",
            "in" : "query",
            "description" : "Indicates the name of the location as it is referenced by humans.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "page",
            "in" : "query",
            "description" : "The page number of the search result.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            }
          },
          {
            "name" : "_count",
            "in" : "query",
            "description" : "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 30
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Record found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocationBundle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Location/{id}" : {
      "get" : {
        "tags" : [
          "Location"
        ],
        "summary" : "Location Read",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-location.html",
        "operationId" : "locationRead",
        "parameters" : [
          {
            "name" : "id",
            "in" : "path",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Record found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Location"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Medication" : {
      "get" : {
        "tags" : [
          "Medication"
        ],
        "summary" : "Medication Search",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-medication.html",
        "operationId" : "medicationSearch",
        "parameters" : [
          {
            "name" : "_id",
            "in" : "query",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "identifier",
            "in" : "query",
            "description" : "The logical identifier of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "page",
            "in" : "query",
            "description" : "The page number of the search result.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            }
          },
          {
            "name" : "_count",
            "in" : "query",
            "description" : "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 30
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Record found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MedicationBundle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Medication/{id}" : {
      "get" : {
        "tags" : [
          "Medication"
        ],
        "summary" : "Medication Read",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-medication.html",
        "operationId" : "medicationRead",
        "parameters" : [
          {
            "name" : "id",
            "in" : "path",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Record found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Medication"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/MedicationRequest" : {
      "get" : {
        "tags" : [
          "MedicationRequest"
        ],
        "summary" : "MedicationRequest Search",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-medicationrequest.html",
        "operationId" : "medicationRequestSearch",
        "parameters" : [
          {
            "name" : "patient",
            "in" : "query",
            "description" : "The Integration Control Number (ICN) assigned by the Master Patient Index (MPI) that refers to the person on which the MedicationRequest was performed.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "_id",
            "in" : "query",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "identifier",
            "in" : "query",
            "description" : "The logical identifier of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "intent",
            "in" : "query",
            "description" : "The intent identifies the kind of medication order.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "page",
            "in" : "query",
            "description" : "The page number of the search result.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            }
          },
          {
            "name" : "_count",
            "in" : "query",
            "description" : "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 30
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Records found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MedicationRequestBundle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/MedicationRequest/{id}" : {
      "get" : {
        "tags" : [
          "MedicationRequest"
        ],
        "summary" : "MedicationRequest Read",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-medicationrequest.html",
        "operationId" : "medicationRequestRead",
        "parameters" : [
          {
            "name" : "id",
            "in" : "path",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Record found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/MedicationRequest"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/metadata" : {
      "get" : {
        "tags" : [
          "Metadata"
        ],
        "summary" : "Capability Statement",
        "description" : "http://hl7.org/fhir/R4/capabilitystatement.html",
        "operationId" : "metadata",
        "responses" : {
          "200" : {
            "description" : "Record found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/CapabilityStatement"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Observation" : {
      "get" : {
        "tags" : [
          "Observation"
        ],
        "summary" : "Observation Search",
        "description" : "http://hl7.org/fhir/us/core/StructureDefinition/us-core-observation-lab",
        "operationId" : "observationSearch",
        "parameters" : [
          {
            "name" : "patient",
            "in" : "query",
            "description" : "The Integration Control Number (ICN) assigned by the Master Patient Index (MPI) that refers to the patient that is described by the observation",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "_id",
            "in" : "query",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "identifier",
            "in" : "query",
            "description" : "The logical identifier of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "category",
            "in" : "query",
            "description" : "The general classification of the type of observation. [Observation Category Codes](https://www.hl7.org/fhir/valueset-observation-category.html)",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "code",
            "in" : "query",
            "description" : "A code that indicates the type of information contained within the observation. [LOINC Observation Codes](https://www.hl7.org/fhir/valueset-observation-codes.html)",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "date",
            "in" : "query",
            "description" : "A date or range of dates (maximum of 2) that describes the date that the observation was recorded.",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          },
          {
            "name" : "page",
            "in" : "query",
            "description" : "The page number of the search result.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            }
          },
          {
            "name" : "_count",
            "in" : "query",
            "description" : "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 30
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Record found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ObservationBundle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Observation/{id}" : {
      "get" : {
        "tags" : [
          "Observation"
        ],
        "summary" : "Observation Read",
        "description" : "http://hl7.org/fhir/us/core/StructureDefinition/us-core-observation-lab",
        "operationId" : "observationRead",
        "parameters" : [
          {
            "name" : "id",
            "in" : "path",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Record found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Observation"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Organization" : {
      "get" : {
        "tags" : [
          "Organization"
        ],
        "summary" : "Organization Search",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-organization.html",
        "operationId" : "organizationSearch",
        "parameters" : [
          {
            "name" : "_id",
            "in" : "query",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "identifier",
            "in" : "query",
            "description" : "The logical identifier of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "address",
            "in" : "query",
            "description" : "Indicates the physical location of the organization expressed using postal conventions (as opposed to GPS or other location definition formats).",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "address-city",
            "in" : "query",
            "description" : "Indicates the geographical city where the organization resides.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "address-state",
            "in" : "query",
            "description" : "Indicates the geographical state where the organization resides.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "address-postalcode",
            "in" : "query",
            "description" : "Indicates the postal code that designates the region where the organization resides.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "name",
            "in" : "query",
            "description" : "Indicates the name of the organization as it is referenced by humans.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "page",
            "in" : "query",
            "description" : "The page number of the search result.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            }
          },
          {
            "name" : "_count",
            "in" : "query",
            "description" : "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 30
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Record found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationBundle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Organization/{id}" : {
      "get" : {
        "tags" : [
          "Organization"
        ],
        "summary" : "Organization Read",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-organization.html",
        "operationId" : "organizationRead",
        "parameters" : [
          {
            "name" : "id",
            "in" : "path",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Record found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organization"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Patient" : {
      "get" : {
        "tags" : [
          "Patient"
        ],
        "summary" : "Patient Search",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-patient.html",
        "operationId" : "patientSearch",
        "parameters" : [
          {
            "name" : "_id",
            "in" : "query",
            "description" : "The logical id of the resource. Once assigned, this value never changes. For Patients this id is an Integration Control Number (ICN) assigned by the Master Patient Index (MPI).",
            "schema" : {
              "type" : "string"
            },
            "example" : "1011537977V693883"
          },
          {
            "name" : "identifier",
            "in" : "query",
            "description" : "The logical identifier of the resource. Once assigned, this value never changes. For Patients this identifier is an Integration Control Number (ICN) assigned by the Master Patient Index (MPI).",
            "schema" : {
              "type" : "string"
            },
            "example" : "1011537977V693883"
          },
          {
            "name" : "page",
            "in" : "query",
            "description" : "The page number of the search result.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            },
            "example" : 1
          },
          {
            "name" : "_count",
            "in" : "query",
            "description" : "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 30
            },
            "example" : 30
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Record found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PatientBundle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Patient/{id}" : {
      "get" : {
        "tags" : [
          "Patient"
        ],
        "summary" : "Patient Read",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-patient.html",
        "operationId" : "patientRead",
        "parameters" : [
          {
            "name" : "id",
            "in" : "path",
            "description" : "The logical id of the resource. Once assigned, this value never changes. For Patients this id is an Integration Control Number (ICN) assigned by the Master Patient Index (MPI).",
            "required" : true,
            "schema" : {
              "type" : "string"
            },
            "example" : "1011537977V693883"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Record found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Patient"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Practitioner" : {
      "get" : {
        "tags" : [
          "Practitioner"
        ],
        "summary" : "Practitioner Search",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-practitioner.html",
        "operationId" : "practitionerSearch",
        "parameters" : [
          {
            "name" : "_id",
            "in" : "query",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            },
            "example" : "I2-HRJI2MVST2IQSPR7U5SACWIWZA000000"
          },
          {
            "name" : "identifier",
            "in" : "query",
            "description" : "A unique identifier for a practitioner within a given system.",
            "schema" : {
              "type" : "string"
            },
            "example" : "http://hl7.org/fhir/sid/us-npi|1932127842"
          },
          {
            "name" : "family",
            "in" : "query",
            "description" : "The family name of the practitioner.",
            "schema" : {
              "type" : "string"
            },
            "example" : "DOE922"
          },
          {
            "name" : "given",
            "in" : "query",
            "description" : "The given name of the practitioner.",
            "schema" : {
              "type" : "string"
            },
            "example" : "JANE460"
          },
          {
            "name" : "name",
            "in" : "query",
            "description" : "The given or family name of the practitioner.",
            "schema" : {
              "type" : "string"
            },
            "example" : "DOE922"
          },
          {
            "name" : "page",
            "in" : "query",
            "description" : "The page number of the search result.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            },
            "example" : 1
          },
          {
            "name" : "_count",
            "in" : "query",
            "description" : "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 30
            },
            "example" : 30
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Record found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PractitionerBundle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Practitioner/{id}" : {
      "get" : {
        "tags" : [
          "Practitioner"
        ],
        "summary" : "Practitioner Read",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-practitioner.html",
        "operationId" : "practitionerRead",
        "parameters" : [
          {
            "name" : "id",
            "in" : "path",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "required" : true,
            "schema" : {
              "type" : "string"
            },
            "example" : "I2-HRJI2MVST2IQSPR7U5SACWIWZA000000"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Record found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Practitioner"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401" : {
            "description" : "Unauthorized",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "403" : {
            "description" : "Forbidden",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/PractitionerRole" : {
      "get" : {
        "tags" : [
          "PractitionerRole"
        ],
        "summary" : "Practitioner Role Search",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-practitionerrole.html",
        "operationId" : "practitionerRoleSearch",
        "parameters" : [
          {
            "name" : "_id",
            "in" : "query",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "practitioner.identifier",
            "in" : "query",
            "description" : "A unique identifier for a practitioner within a given system.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "practitioner.name",
            "in" : "query",
            "description" : "The given or family name of the practitioner.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "page",
            "in" : "query",
            "description" : "The page number being requested.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            }
          },
          {
            "name" : "_count",
            "in" : "query",
            "description" : "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 30
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Records Found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PractitionerRoleBundle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/PractitionerRole/{id}" : {
      "get" : {
        "tags" : [
          "PractitionerRole"
        ],
        "summary" : "PractitionerRole Read",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-practitionerrole.html",
        "operationId" : "practitionerRoleRead",
        "parameters" : [
          {
            "name" : "id",
            "in" : "path",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Record found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PractitionerRole"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Procedure" : {
      "get" : {
        "tags" : [
          "Procedure"
        ],
        "summary" : "Procedure Search",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-procedure.html",
        "operationId" : "procedureSearch",
        "parameters" : [
          {
            "name" : "patient",
            "in" : "query",
            "description" : "The Integration Control Number (ICN) assigned by the Master Patient Index (MPI) that refers to the person on which the procedure was performed.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "_id",
            "in" : "query",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "identifier",
            "in" : "query",
            "description" : "The logical identifier of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            }
          },
          {
            "name" : "date",
            "in" : "query",
            "description" : "A date or range of dates (maximum of 2) that describes the date that the procedure was performed.",
            "schema" : {
              "type" : "array",
              "items" : {
                "type" : "string"
              }
            }
          },
          {
            "name" : "page",
            "in" : "query",
            "description" : "The page number of the search result.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            }
          },
          {
            "name" : "_count",
            "in" : "query",
            "description" : "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 30
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Records found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/ProcedureBundle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    },
    "/Procedure/{id}" : {
      "get" : {
        "tags" : [
          "Procedure"
        ],
        "summary" : "Procedure Read",
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-procedure.html",
        "operationId" : "procedureRead",
        "parameters" : [
          {
            "name" : "id",
            "in" : "path",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "required" : true,
            "schema" : {
              "type" : "string"
            }
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Record found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Procedure"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        }
      }
    }
  },
  "components" : {
    "schemas" : {
      "Address" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "use" : {
            "type" : "string",
            "enum" : [
              "home",
              "work",
              "temp",
              "old",
              "billing"
            ]
          },
          "type" : {
            "type" : "string",
            "enum" : [
              "postal",
              "physical",
              "both"
            ]
          },
          "text" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "line" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "city" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "district" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "state" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "postalCode" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "country" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "period" : {
            "$ref" : "#/components/schemas/Period"
          }
        },
        "description" : "https://www.hl7.org/fhir/R4/datatypes.html#Address"
      },
      "Age" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "value" : {
            "type" : "number"
          },
          "comparator" : {
            "pattern" : "(<|<=|>=|>)",
            "type" : "string"
          },
          "unit" : {
            "type" : "string"
          },
          "system" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "code" : {
            "pattern" : "[^\\s]+(\\s[^\\s]+)*",
            "type" : "string"
          }
        },
        "description" : "http://hl7.org/fhir/R4/datatypes.html#Age"
      },
      "AllergyIntolerance" : {
        "required" : [
          "patient",
          "resourceType"
        ],
        "type" : "object",
        "properties" : {
          "resourceType" : {
            "type" : "string"
          },
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "meta" : {
            "$ref" : "#/components/schemas/Meta"
          },
          "implicitRules" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "language" : {
            "pattern" : "[^\\s]+(\\s[^\\s]+)*",
            "type" : "string"
          },
          "text" : {
            "$ref" : "#/components/schemas/Narrative"
          },
          "contained" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Resource"
            }
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "modifierExtension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "identifier" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Identifier"
            }
          },
          "clinicalStatus" : {
            "$ref" : "#/components/schemas/CodeableConcept"
          },
          "verificationStatus" : {
            "$ref" : "#/components/schemas/CodeableConcept"
          },
          "type" : {
            "type" : "string",
            "enum" : [
              "allergy",
              "intolerance"
            ]
          },
          "category" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [
                "food",
                "medication",
                "environment",
                "biologic"
              ]
            }
          },
          "criticality" : {
            "type" : "string",
            "enum" : [
              "low",
              "high",
              "unable-to-assess"
            ]
          },
          "code" : {
            "$ref" : "#/components/schemas/CodeableConcept"
          },
          "patient" : {
            "$ref" : "#/components/schemas/Reference"
          },
          "encounter" : {
            "$ref" : "#/components/schemas/Reference"
          },
          "onsetDateTime" : {
            "pattern" : "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type" : "string"
          },
          "onsetAge" : {
            "$ref" : "#/components/schemas/Age"
          },
          "onsetPeriod" : {
            "$ref" : "#/components/schemas/Period"
          },
          "onsetRange" : {
            "$ref" : "#/components/schemas/Range"
          },
          "onsetString" : {
            "type" : "string"
          },
          "recordedDate" : {
            "pattern" : "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type" : "string"
          },
          "recorder" : {
            "$ref" : "#/components/schemas/Reference"
          },
          "asserter" : {
            "$ref" : "#/components/schemas/Reference"
          },
          "lastOccurence" : {
            "pattern" : "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type" : "string"
          },
          "note" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Annotation"
            }
          },
          "reaction" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AllergyIntoleranceReaction"
            }
          }
        },
        "description" : "https://build.fhir.org/ig/HL7/US-Core-R4/StructureDefinition-us-core-allergyintolerance.html",
        "example" : {
          "resourceType" : "AllergyIntolerance",
          "id" : "I2-6F9A021B07D553C88CCEB49A694D4AD9",
          "clinicalStatus" : {
            "coding" : [
              {
                "system" : "http://terminology.hl7.org/CodeSystem/allergyintolerance-clinical",
                "code" : "active"
              }
            ]
          },
          "verificationStatus" : {
            "coding" : [
              {
                "system" : "http://terminology.hl7.org/CodeSystem/allergyintolerance-verification",
                "code" : "confirmed"
              }
            ]
          },
          "type" : "allergy",
          "category" : [
            "food"
          ],
          "patient" : {
            "reference" : "https://sandbox-api.va.gov/services/r4/v0/Patient/1017283148V813263",
            "display" : "Mr. Aurelio227 Cruickshank494"
          },
          "onsetDateTime" : "1995-04-30T01:15:52Z",
          "note" : [
            {
              "time" : "1995-04-30T01:15:52Z",
              "text" : "Allergy to peanuts"
            }
          ],
          "reaction" : [
            {
              "manifestation" : [
                {
                  "coding" : [
                    {
                      "system" : "urn:oid:2.16.840.1.113883.6.233",
                      "code" : "2000001",
                      "display" : "Inflammation of Skin"
                    }
                  ],
                  "text" : "Inflammation of Skin"
                }
              ]
            }
          ]
        }
      },
      "AllergyIntoleranceBundle" : {
        "required" : [
          "resourceType",
          "type"
        ],
        "type" : "object",
        "properties" : {
          "resourceType" : {
            "type" : "string"
          },
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "meta" : {
            "$ref" : "#/components/schemas/Meta"
          },
          "implicitRules" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "language" : {
            "pattern" : "[^\\s]+(\\s[^\\s]+)*",
            "type" : "string"
          },
          "identifier" : {
            "$ref" : "#/components/schemas/Identifier"
          },
          "type" : {
            "type" : "string",
            "enum" : [
              "document",
              "message",
              "transaction",
              "transaction-response",
              "batch",
              "batch-response",
              "history",
              "searchset",
              "collection"
            ]
          },
          "timestamp" : {
            "pattern" : "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))",
            "type" : "string"
          },
          "total" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          },
          "link" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/BundleLink"
            }
          },
          "entry" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/AllergyIntoleranceEntry"
            }
          },
          "signature" : {
            "$ref" : "#/components/schemas/Signature"
          }
        },
        "example" : {
          "resourceType" : "Bundle",
          "type" : "searchset",
          "total" : 1,
          "link" : [
            {
              "relation" : "self",
              "url" : "https://sandbox-api.va.gov/services/r4/v0/AllergyIntolerance?patient=1017283148V813263&page=1&_count=15"
            },
            {
              "relation" : "first",
              "url" : "https://sandbox-api.va.gov/services/r4/v0/AllergyIntolerance?patient=1017283148V813263&page=1&_count=15"
            },
            {
              "relation" : "last",
              "url" : "https://sandbox-api.va.gov/services/r4/v0/AllergyIntolerance?patient=1017283148V813263&page=1&_count=15"
            }
          ],
          "entry" : [
            {
              "fullUrl" : "https://sandbox-api.va.gov/services/r4/v0/AllergyIntolerance/I2-6F9A021B07D553C88CCEB49A694D4AD9",
              "resource" : {
                "resourceType" : "AllergyIntolerance",
                "id" : "I2-6F9A021B07D553C88CCEB49A694D4AD9",
                "clinicalStatus" : {
                  "coding" : [
                    {
                      "system" : "http://terminology.hl7.org/CodeSystem/allergyintolerance-clinical",
                      "code" : "active"
                    }
                  ]
                },
                "verificationStatus" : {
                  "coding" : [
                    {
                      "system" : "http://terminology.hl7.org/CodeSystem/allergyintolerance-verification",
                      "code" : "confirmed"
                    }
                  ]
                },
                "type" : "allergy",
                "category" : [
                  "food"
                ],
                "patient" : {
                  "reference" : "https://sandbox-api.va.gov/services/r4/v0/Patient/1017283148V813263",
                  "display" : "Mr. Aurelio227 Cruickshank494"
                },
                "onsetDateTime" : "1995-04-30T01:15:52Z",
                "note" : [
                  {
                    "time" : "1995-04-30T01:15:52Z",
                    "text" : "Allergy to peanuts"
                  }
                ],
                "reaction" : [
                  {
                    "manifestation" : [
                      {
                        "coding" : [
                          {
                            "system" : "urn:oid:2.16.840.1.113883.6.233",
                            "code" : "2000001",
                            "display" : "Inflammation of Skin"
                          }
                        ],
                        "text" : "Inflammation of Skin"
                      }
                    ]
                  }
                ]
              },
              "search" : {
                "mode" : "match"
              }
            }
          ]
        }
      },
      "AllergyIntoleranceEntry" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "modifierExtension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "link" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/BundleLink"
            }
          },
          "fullUrl" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "resource" : {
            "$ref" : "#/components/schemas/AllergyIntolerance"
          },
          "search" : {
            "$ref" : "#/components/schemas/Search"
          },
          "request" : {
            "$ref" : "#/components/schemas/Request"
          },
          "response" : {
            "$ref" : "#/components/schemas/Response"
          }
        }
      },
      "AllergyIntoleranceReaction" : {
        "required" : [
          "manifestation"
        ],
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "modifierExtension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "substance" : {
            "$ref" : "#/components/schemas/CodeableConcept"
          },
          "manifestation" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CodeableConcept"
            }
          },
          "description" : {
            "type" : "string"
          },
          "onset" : {
            "pattern" : "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type" : "string"
          },
          "severity" : {
            "type" : "string",
            "enum" : [
              "mild",
              "moderate",
              "severe"
            ]
          },
          "exposureRoute" : {
            "$ref" : "#/components/schemas/CodeableConcept"
          },
          "note" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Annotation"
            }
          }
        }
      },
      "Annotation" : {
        "required" : [
          "text"
        ],
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "authorReference" : {
            "$ref" : "#/components/schemas/Reference"
          },
          "authorString" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "time" : {
            "pattern" : "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type" : "string"
          },
          "text" : {
            "pattern" : "\\s*(\\S|\\s)*",
            "type" : "string"
          }
        },
        "description" : "https://www.hl7.org/fhir/R4/datatypes.html#Annotation"
      },
      "Appointment" : {
        "required" : [
          "participant",
          "resourceType",
          "status"
        ],
        "type" : "object",
        "properties" : {
          "resourceType" : {
            "type" : "string"
          },
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "meta" : {
            "$ref" : "#/components/schemas/Meta"
          },
          "implicitRules" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "language" : {
            "pattern" : "[^\\s]+(\\s[^\\s]+)*",
            "type" : "string"
          },
          "text" : {
            "$ref" : "#/components/schemas/Narrative"
          },
          "contained" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Resource"
            }
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "modifierExtension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "identifier" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Identifier"
            }
          },
          "status" : {
            "type" : "string",
            "enum" : [
              "proposed",
              "pending",
              "booked",
              "arrived",
              "fulfilled",
              "cancelled",
              "noshow",
              "entered-in-error",
              "checked-in",
[...]
