{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "Provider Directory API",
    "description" : "\n\n ## Background\n\n This API satisfies the Centers for Medicare & Medicaid Services (CMS) requirement that federal programs make provider directory information available through a public-facing API endpoint on the payer’s website. \n\nThis API uses [HL7’s Fast Healthcare Interoperability Resources (FHIR)](https://www.hl7.org/fhir/overview.html) resources and follows the [HL7 Da Vinci PDex Plan Net Implementation Guide](http://www.hl7.org/fhir/us/davinci-pdex-plan-net/history.cfml). FHIR solutions are built from a standard set of modular components called resources, which can be assembled and implemented according to a variety of methods.\n\n ## Technical overview\n\n The Provider Directory API allows queries that return data in [FHIR](https://www.hl7.org/fhir/overview.html) format from the Corporate Data Warehouse (CDW) database.  Data is available to this API 24-48 hours after it is entered into CDW.\n\n ## Authentication and Authorization\n\n API requests are authorized through a symmetric API token, provided in an HTTP header with name 'apikey'. [Request an API key](https://developer.va.gov/apply).\n\n ## Test Data\n\n The database powering our sandbox environment is populated with test provider information that contains no PHI or PII.",
    "contact" : {
      "name" : "developer.va.gov"
    },
    "version" : "v0"
  },
  "externalDocs" : {
    "description" : "DaVinci PDEX Plan Net Implementation Guide",
    "url" : "http://hl7.org/fhir/us/davinci-pdex-plan-net/index.html"
  },
  "servers" : [
    {
      "url" : "https://sandbox-api.va.gov/services/provider-directory/v0/r4",
      "description" : "Sandbox",
      "variables" : { }
    },
    {
      "url" : "https://api.va.gov/services/provider-directory/v0/r4",
      "description" : "Production",
      "variables" : { }
    }
  ],
  "paths" : {
    "/Location" : {
      "get" : {
        "tags" : [
          "Location"
        ],
        "summary" : "Location Search",
        "description" : "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition-plannet-Location.html",
        "operationId" : "locationSearch",
        "parameters" : [
          {
            "name" : "_id",
            "in" : "query",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            },
            "example" : "I2-4KG3N5YUSPTWD3DAFMLMRL5V5U000000"
          },
          {
            "name" : "identifier",
            "in" : "query",
            "description" : "The logical identifier of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            },
            "example" : "I2-4KG3N5YUSPTWD3DAFMLMRL5V5U000000"
          },
          {
            "name" : "address",
            "in" : "query",
            "description" : "Indicates the physical location of the record expressed using postal conventions (as opposed to GPS or other location definition formats).",
            "schema" : {
              "type" : "string"
            },
            "example" : "3300 Washtenaw Avenue"
          },
          {
            "name" : "address-city",
            "in" : "query",
            "description" : "Indicates the geographical city where the location resides.",
            "schema" : {
              "type" : "string"
            },
            "example" : "Ann Arbor"
          },
          {
            "name" : "address-state",
            "in" : "query",
            "description" : "Indicates the geographical state where the location resides.",
            "schema" : {
              "type" : "string"
            },
            "example" : "MI"
          },
          {
            "name" : "address-postalcode",
            "in" : "query",
            "description" : "Indicates the postal code that designates the region where the location resides.",
            "schema" : {
              "type" : "string"
            },
            "example" : "48104"
          },
          {
            "name" : "name",
            "in" : "query",
            "description" : "Indicates the name of the location as it is referenced by humans.",
            "schema" : {
              "type" : "string"
            },
            "example" : "Health Level Seven International"
          },
          {
            "name" : "page",
            "in" : "query",
            "description" : "The page number of the search result.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            },
            "example" : 1
          },
          {
            "name" : "_count",
            "in" : "query",
            "description" : "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 30
            },
            "example" : 30
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/LocationBundle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid API key",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "403" : {
            "description" : "Unauthorized API key",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "429" : {
            "description" : "Rate limit exceeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        },
        "security" : [
          {
            "apikey" : [ ]
          }
        ]
      }
    },
    "/Location/{id}" : {
      "get" : {
        "tags" : [
          "Location"
        ],
        "summary" : "Location Read",
        "description" : "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition-plannet-Location.html",
        "operationId" : "locationRead",
        "parameters" : [
          {
            "name" : "id",
            "in" : "path",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "required" : true,
            "schema" : {
              "type" : "string"
            },
            "example" : "I2-4KG3N5YUSPTWD3DAFMLMRL5V5U000000"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Location"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid API key",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "403" : {
            "description" : "Unauthorized API key",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "429" : {
            "description" : "Rate limit exceeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        },
        "security" : [
          {
            "apikey" : [ ]
          }
        ]
      }
    },
    "/Organization" : {
      "get" : {
        "tags" : [
          "Organization"
        ],
        "summary" : "Organization Search",
        "description" : "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition-plannet-Organization.html",
        "operationId" : "organizationSearch",
        "parameters" : [
          {
            "name" : "_id",
            "in" : "query",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            },
            "example" : "I2-AKOTGEFSVKFJOPUKHIVJAH5VQU000000"
          },
          {
            "name" : "identifier",
            "in" : "query",
            "description" : "The logical identifier of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            },
            "example" : "I2-AKOTGEFSVKFJOPUKHIVJAH5VQU000000"
          },
          {
            "name" : "address",
            "in" : "query",
            "description" : "Indicates the physical location of the organization expressed using postal conventions (as opposed to GPS or other location definition formats).",
            "schema" : {
              "type" : "string"
            },
            "example" : "3300 Washtenaw Avenue"
          },
          {
            "name" : "address-city",
            "in" : "query",
            "description" : "Indicates the geographical city where the organization resides.",
            "schema" : {
              "type" : "string"
            },
            "example" : "Ann Arbor"
          },
          {
            "name" : "address-state",
            "in" : "query",
            "description" : "Indicates the geographical state where the organization resides.",
            "schema" : {
              "type" : "string"
            },
            "example" : "MI"
          },
          {
            "name" : "address-postalcode",
            "in" : "query",
            "description" : "Indicates the postal code that designates the region where the organization resides.",
            "schema" : {
              "type" : "string"
            },
            "example" : "48104"
          },
          {
            "name" : "name",
            "in" : "query",
            "description" : "Indicates the name of the organization as it is referenced by humans.",
            "schema" : {
              "type" : "string"
            },
            "example" : "Health Level Seven International"
          },
          {
            "name" : "page",
            "in" : "query",
            "description" : "The page number of the search result.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            },
            "example" : 1
          },
          {
            "name" : "_count",
            "in" : "query",
            "description" : "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 30
            },
            "example" : 30
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OrganizationBundle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid API key",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "403" : {
            "description" : "Unauthorized API key",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "429" : {
            "description" : "Rate limit exceeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        },
        "security" : [
          {
            "apikey" : [ ]
          }
        ]
      }
    },
    "/Organization/{id}" : {
      "get" : {
        "tags" : [
          "Organization"
        ],
        "summary" : "Organization Read",
        "description" : "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition-plannet-Organization.html",
        "operationId" : "organizationRead",
        "parameters" : [
          {
            "name" : "id",
            "in" : "path",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "required" : true,
            "schema" : {
              "type" : "string"
            },
            "example" : "I2-AKOTGEFSVKFJOPUKHIVJAH5VQU000000"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Organization"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid API key",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "403" : {
            "description" : "Unauthorized API key",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "429" : {
            "description" : "Rate limit exceeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        },
        "security" : [
          {
            "apikey" : [ ]
          }
        ]
      }
    },
    "/Practitioner" : {
      "get" : {
        "tags" : [
          "Practitioner"
        ],
        "summary" : "Practitioner Search",
        "description" : "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition-plannet-Practitioner.html",
        "operationId" : "practitionerSearch",
        "parameters" : [
          {
            "name" : "_id",
            "in" : "query",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            },
            "example" : "I2-HRJI2MVST2IQSPR7U5SACWIWZA000000"
          },
          {
            "name" : "identifier",
            "in" : "query",
            "description" : "A unique identifier for a practitioner within a given system.",
            "schema" : {
              "type" : "string"
            },
            "example" : "http://hl7.org/fhir/sid/us-npi|1932127842"
          },
          {
            "name" : "family",
            "in" : "query",
            "description" : "The family name of the practitioner.",
            "schema" : {
              "type" : "string"
            },
            "example" : "DOE922"
          },
          {
            "name" : "given",
            "in" : "query",
            "description" : "The given name of the practitioner.",
            "schema" : {
              "type" : "string"
            },
            "example" : "JANE460"
          },
          {
            "name" : "name",
            "in" : "query",
            "description" : "The given or family name of the practitioner.",
            "schema" : {
              "type" : "string"
            },
            "example" : "DOE922"
          },
          {
            "name" : "page",
            "in" : "query",
            "description" : "The page number of the search result.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            },
            "example" : 1
          },
          {
            "name" : "_count",
            "in" : "query",
            "description" : "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 30
            },
            "example" : 30
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PractitionerBundle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid API key",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "403" : {
            "description" : "Unauthorized API key",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "429" : {
            "description" : "Rate limit exceeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        },
        "security" : [
          {
            "apikey" : [ ]
          }
        ]
      }
    },
    "/Practitioner/{id}" : {
      "get" : {
        "tags" : [
          "Practitioner"
        ],
        "summary" : "Practitioner Read",
        "description" : "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition-plannet-Practitioner.html",
        "operationId" : "practitionerRead",
        "parameters" : [
          {
            "name" : "id",
            "in" : "path",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "required" : true,
            "schema" : {
              "type" : "string"
            },
            "example" : "I2-HRJI2MVST2IQSPR7U5SACWIWZA000000"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/Practitioner"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid API key",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "403" : {
            "description" : "Unauthorized API key",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "429" : {
            "description" : "Rate limit exceeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        },
        "security" : [
          {
            "apikey" : [ ]
          }
        ]
      }
    },
    "/PractitionerRole" : {
      "get" : {
        "tags" : [
          "PractitionerRole"
        ],
        "summary" : "PractitionerRole Search",
        "description" : "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition-plannet-PractitionerRole.html",
        "operationId" : "practitionerRoleSearch",
        "parameters" : [
          {
            "name" : "_id",
            "in" : "query",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "schema" : {
              "type" : "string"
            },
            "example" : "I2-6KYHN4VYERE5OHKPXWAPAU5BO4000000"
          },
          {
            "name" : "practitioner.identifier",
            "in" : "query",
            "description" : "A unique identifier for a practitioner within a given system.",
            "schema" : {
              "type" : "string"
            },
            "example" : "I2-HRJI2MVST2IQSPR7U5SACWIWZA000000"
          },
          {
            "name" : "practitioner.name",
            "in" : "query",
            "description" : "The given or family name of the practitioner.",
            "schema" : {
              "type" : "string"
            },
            "example" : "DOE922"
          },
          {
            "name" : "page",
            "in" : "query",
            "description" : "The page number being requested.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 1
            },
            "example" : 1
          },
          {
            "name" : "_count",
            "in" : "query",
            "description" : "The number of resources that should be returned in a single page. The maximum count size is 100.",
            "schema" : {
              "type" : "integer",
              "format" : "int32",
              "default" : 30
            },
            "example" : 30
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PractitionerRoleBundle"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid API key",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "403" : {
            "description" : "Unauthorized API key",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "429" : {
            "description" : "Rate limit exceeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        },
        "security" : [
          {
            "apikey" : [ ]
          }
        ]
      }
    },
    "/PractitionerRole/{id}" : {
      "get" : {
        "tags" : [
          "PractitionerRole"
        ],
        "summary" : "PractitionerRole Read",
        "description" : "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition-plannet-PractitionerRole.html",
        "operationId" : "practitionerRoleRead",
        "parameters" : [
          {
            "name" : "id",
            "in" : "path",
            "description" : "The logical id of the resource. Once assigned, this value never changes.",
            "required" : true,
            "schema" : {
              "type" : "string"
            },
            "example" : "I2-6KYHN4VYERE5OHKPXWAPAU5BO4000000"
          }
        ],
        "responses" : {
          "200" : {
            "description" : "Success",
            "content" : {
              "application/fhir+json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/PractitionerRole"
                }
              }
            }
          },
          "400" : {
            "description" : "Bad request",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "401" : {
            "description" : "Missing or invalid API key",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "403" : {
            "description" : "Unauthorized API key",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "404" : {
            "description" : "Not found",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          },
          "429" : {
            "description" : "Rate limit exceeded",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/GatewayError"
                }
              }
            }
          },
          "500" : {
            "description" : "Server Error",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/OperationOutcome"
                }
              }
            }
          }
        },
        "security" : [
          {
            "apikey" : [ ]
          }
        ]
      }
    }
  },
  "components" : {
    "schemas" : {
      "Address" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "use" : {
            "type" : "string",
            "enum" : [
              "home",
              "work",
              "temp",
              "old",
              "billing"
            ]
          },
          "type" : {
            "type" : "string",
            "enum" : [
              "postal",
              "physical",
              "both"
            ]
          },
          "text" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "line" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "city" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "district" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "state" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "postalCode" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "country" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "period" : {
            "$ref" : "#/components/schemas/Period"
          }
        },
        "description" : "https://www.hl7.org/fhir/R4/datatypes.html#Address"
      },
      "Age" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "value" : {
            "type" : "number"
          },
          "comparator" : {
            "pattern" : "(<|<=|>=|>)",
            "type" : "string"
          },
          "unit" : {
            "type" : "string"
          },
          "system" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "code" : {
            "pattern" : "[^\\s]+(\\s[^\\s]+)*",
            "type" : "string"
          }
        },
        "description" : "http://hl7.org/fhir/R4/datatypes.html#Age"
      },
      "Annotation" : {
        "required" : [
          "text"
        ],
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "authorReference" : {
            "$ref" : "#/components/schemas/Reference"
          },
          "authorString" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "time" : {
            "pattern" : "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type" : "string"
          },
          "text" : {
            "pattern" : "\\s*(\\S|\\s)*",
            "type" : "string"
          }
        },
        "description" : "https://www.hl7.org/fhir/R4/datatypes.html#Annotation"
      },
      "Attachment" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "contentType" : {
            "pattern" : "[^\\s]+(\\s[^\\s]+)*",
            "type" : "string"
          },
          "language" : {
            "pattern" : "[^\\s]+(\\s[^\\s]+)*",
            "type" : "string"
          },
          "data" : {
            "pattern" : "(\\s*([0-9a-zA-Z\\+\\=]){4}\\s*)+",
            "type" : "string"
          },
          "url" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "size" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          },
          "hash" : {
            "pattern" : "(\\s*([0-9a-zA-Z\\+\\=]){4}\\s*)+",
            "type" : "string"
          },
          "title" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "creation" : {
            "pattern" : "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type" : "string"
          }
        },
        "description" : "https://www.hl7.org/fhir/R4/datatypes.html#Attachment"
      },
      "BundleLink" : {
        "required" : [
          "relation",
          "url"
        ],
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "modifierExtension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "relation" : {
            "type" : "string",
            "enum" : [
              "about",
              "alternate",
              "appendix",
              "archives",
              "author",
              "blocked-by",
              "bookmark",
              "canonical",
              "chapter",
              "cite-as",
              "collection",
              "contents",
              "convertedFrom",
              "copyright",
              "create-form",
              "current",
              "describedby",
              "describes",
              "disclosure",
              "dns-prefetch",
              "duplicate",
              "edit",
              "edit-form",
              "edit-media",
              "enclosure",
              "first",
              "glossary",
              "help",
              "hosts",
              "hub",
              "icon",
              "index",
              "intervalAfter",
              "intervalBefore",
              "intervalContains",
              "intervalDisjoint",
              "intervalDuring",
              "intervalEquals",
              "intervalFinishedBy",
              "intervalFinishes",
              "intervalln",
              "intervalMeets",
              "intervalMetBy",
              "intervalOverlappedBy",
              "intervalOverlaps",
              "intervalStartedBy",
              "intervalStarts",
              "item",
              "last",
              "latest-version",
              "license",
              "lrdd",
              "memento",
              "monitor",
              "monitor-group",
              "next",
              "next-archive",
              "nofollow",
              "noreferrer",
              "original",
              "payment",
              "pingback",
              "preconnect",
              "predecessor-version",
              "prefetch",
              "preload",
              "prerender",
              "prev",
              "preview",
              "previous",
              "prev-archive",
              "privacy-policy",
              "profile",
              "related",
              "restconf",
              "replies",
              "search",
              "section",
              "self",
              "service",
              "start",
              "stylesheet",
              "subsection",
              "successor-version",
              "tag",
              "terms-of-service",
              "timegate",
              "timemap",
              "type",
              "up",
              "version-history",
              "via",
              "webmention",
              "working-copy",
              "working-copy-of"
            ]
          },
          "url" : {
            "pattern" : "\\S*",
            "type" : "string"
          }
        }
      },
      "CapabilityResource" : {
        "required" : [
          "type"
        ],
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "modifierExtension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "type" : {
            "pattern" : "[^\\s]+(\\s[^\\s]+)*",
            "type" : "string"
          },
          "profile" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "supportedProfile" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "documentation" : {
            "pattern" : "\\s*(\\S|\\s)*",
            "type" : "string"
          },
          "interaction" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ResourceInteraction"
            }
          },
          "versioning" : {
            "type" : "string",
            "enum" : [
              "no-version",
              "versioned",
              "versioned-update"
            ]
          },
          "readHistory" : {
            "type" : "boolean"
          },
          "updateCreate" : {
            "type" : "boolean"
          },
          "conditionalCreate" : {
            "type" : "boolean"
          },
          "conditionalRead" : {
            "type" : "string",
            "enum" : [
              "not-supported",
              "modified-since",
              "not-match",
              "full-support"
            ]
          },
          "conditionalUpdate" : {
            "type" : "boolean"
          },
          "conditionalDelete" : {
            "type" : "string",
            "enum" : [
              "not-supported",
              "single",
              "multiple"
            ]
          },
          "referencePolicy" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [
                "literal",
                "logical",
                "resolves",
                "enforced",
                "local"
              ]
            }
          },
          "searchInclude" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "searchRevInclude" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "searchParam" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SearchParam"
            }
          },
          "operation" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Operation"
            }
          }
        }
      },
      "CapabilityStatement" : {
        "required" : [
          "date",
          "fhirVersion",
          "format",
          "kind",
          "resourceType",
          "status"
        ],
        "type" : "object",
        "properties" : {
          "resourceType" : {
            "type" : "string"
          },
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "meta" : {
            "$ref" : "#/components/schemas/Meta"
          },
          "implicitRules" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "language" : {
            "pattern" : "[^\\s]+(\\s[^\\s]+)*",
            "type" : "string"
          },
          "text" : {
            "$ref" : "#/components/schemas/Narrative"
          },
          "contained" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Resource"
            }
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "modifierExtension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "url" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "version" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "name" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "title" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "status" : {
            "type" : "string",
            "enum" : [
              "draft",
              "active",
              "retired",
              "unknown"
            ]
          },
          "experimental" : {
            "type" : "boolean"
          },
          "date" : {
            "pattern" : "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type" : "string"
          },
          "publisher" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "contact" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ContactDetail"
            }
          },
          "description" : {
            "pattern" : "\\s*(\\S|\\s)*",
            "type" : "string"
          },
          "useContext" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/UsageContext"
            }
          },
          "jurisdiction" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CodeableConcept"
            }
          },
          "purpose" : {
            "pattern" : "\\s*(\\S|\\s)*",
            "type" : "string"
          },
          "copyright" : {
            "pattern" : "\\s*(\\S|\\s)*",
            "type" : "string"
          },
          "kind" : {
            "type" : "string",
            "enum" : [
              "instance",
              "capability",
              "requirements"
            ]
          },
          "instantiates" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "imports" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "software" : {
            "$ref" : "#/components/schemas/Software"
          },
          "implementation" : {
            "$ref" : "#/components/schemas/Implementation"
          },
          "fhirVersion" : {
            "pattern" : "[^\\s]+(\\s[^\\s]+)*",
            "type" : "string"
          },
          "format" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "patchFormat" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "implementationGuide" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "rest" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Rest"
            }
          },
          "messaging" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Messaging"
            }
          },
          "document" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Document"
            }
          }
        },
        "description" : "https://www.hl7.org/fhir/R4/capabilitystatement.html"
      },
      "CodeableConcept" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "coding" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Coding"
            }
          },
          "text" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          }
        },
        "description" : "https://www.hl7.org/fhir/R4/datatypes.html#CodeableConcept"
      },
      "CodeFilter" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "path" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "searchParam" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "valueSet" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "code" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Coding"
            }
          }
        }
      },
      "Coding" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "system" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "version" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "code" : {
            "pattern" : "[^\\s]+(\\s[^\\s]+)*",
            "type" : "string"
          },
          "display" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "userSelected" : {
            "type" : "boolean"
          }
        },
        "description" : "https://hl7.org/fhir/R4/datatypes.html#Coding"
      },
      "ContactDetail" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "name" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "telecom" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ContactPoint"
            }
          }
        },
        "description" : "https://www.hl7.org/fhir/R4/metadatatypes.html#ContactDetail"
      },
      "ContactPoint" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "system" : {
            "type" : "string",
            "enum" : [
              "phone",
              "fax",
              "email",
              "pager",
              "other",
              "url",
              "sms"
            ]
          },
          "value" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "use" : {
            "type" : "string",
            "enum" : [
              "home",
              "work",
              "temp",
              "old",
              "mobile"
            ]
          },
          "rank" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          },
          "period" : {
            "$ref" : "#/components/schemas/Period"
          }
        },
        "description" : "https://hl7.org/fhir/R4/datatypes.html#ContactPoint"
      },
      "Contributor" : {
        "required" : [
          "name",
          "type"
        ],
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "type" : {
            "pattern" : "[^\\s]+(\\s[^\\s]+)*",
            "type" : "string",
            "enum" : [
              "author",
              "editor",
              "reviewer",
              "endorser"
            ]
          },
          "name" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "contact" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ContactDetail"
            }
          }
        },
        "description" : "https://www.hl7.org/fhir/R4/metadatatypes.html#contributor"
      },
      "DataRequirement" : {
        "required" : [
          "type"
        ],
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "type" : {
            "pattern" : "[^\\s]+(\\s[^\\s]+)*",
            "type" : "string"
          },
          "profile" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "subjectCodeableConcept" : {
            "$ref" : "#/components/schemas/CodeableConcept"
          },
          "subjectReference" : {
            "$ref" : "#/components/schemas/Reference"
          },
          "mustSupport" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "codeFilter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CodeFilter"
            }
          },
          "dateFilter" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DateFilter"
            }
          },
          "limit" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          },
          "sort" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Sort"
            }
          }
        },
        "description" : "https://www.hl7.org/fhir/R4/metadatatypes.html#DataRequirement"
      },
      "DateFilter" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "path" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "searchParam" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "valueDateTime" : {
            "pattern" : "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type" : "string"
          },
          "valuePeriod" : {
            "$ref" : "#/components/schemas/Period"
          },
          "valueDuration" : {
            "$ref" : "#/components/schemas/Duration"
          }
        }
      },
      "Document" : {
        "required" : [
          "mode",
          "profile"
        ],
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "modifierExtension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "mode" : {
            "type" : "string",
            "enum" : [
              "producer",
              "consumer"
            ]
          },
          "documentation" : {
            "pattern" : "\\s*(\\S|\\s)*",
            "type" : "string"
          },
          "profile" : {
            "pattern" : "\\S*",
            "type" : "string"
          }
        }
      },
      "Dosage" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "modifierExtension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "sequence" : {
            "type" : "integer",
            "format" : "int32"
          },
          "text" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "additionalInstruction" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CodeableConcept"
            }
          },
          "patientInstruction" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "timing" : {
            "$ref" : "#/components/schemas/Timing"
          },
          "asNeededBoolean" : {
            "type" : "boolean"
          },
          "asNeededCodeableConcept" : {
            "$ref" : "#/components/schemas/CodeableConcept"
          },
          "site" : {
            "$ref" : "#/components/schemas/CodeableConcept"
          },
          "route" : {
            "$ref" : "#/components/schemas/CodeableConcept"
          },
          "method" : {
            "$ref" : "#/components/schemas/CodeableConcept"
          },
          "doseAndRate" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/DosageDoseAndRate"
            }
          },
          "maxDosePerPeriod" : {
            "$ref" : "#/components/schemas/Ratio"
          },
          "maxDosePerAdministration" : {
            "$ref" : "#/components/schemas/SimpleQuantity"
          },
          "maxDosePerLifetime" : {
            "$ref" : "#/components/schemas/SimpleQuantity"
          }
        },
        "description" : "https://www.hl7.org/fhir/R4/dosage.html"
      },
      "DosageDoseAndRate" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "type" : {
            "$ref" : "#/components/schemas/CodeableConcept"
          },
          "doseRange" : {
            "$ref" : "#/components/schemas/Range"
          },
          "doseQuantity" : {
            "$ref" : "#/components/schemas/SimpleQuantity"
          },
          "rateRatio" : {
            "$ref" : "#/components/schemas/Ratio"
          },
          "rateRange" : {
            "$ref" : "#/components/schemas/Range"
          },
          "rateQuantity" : {
            "$ref" : "#/components/schemas/SimpleQuantity"
          }
        }
      },
      "Duration" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "value" : {
            "type" : "number"
          },
          "comparator" : {
            "pattern" : "(<|<=|>=|>)",
            "type" : "string"
          },
          "unit" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "system" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "code" : {
            "pattern" : "[^\\s]+(\\s[^\\s]+)*",
            "type" : "string"
          }
        },
        "description" : "https://www.hl7.org/fhir/r4/datatypes.html#Duration"
      },
      "Expression" : {
        "required" : [
          "language"
        ],
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "description" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "name" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "language" : {
            "pattern" : "[^\\s]+(\\s[^\\s]+)*",
            "type" : "string"
          },
          "expression" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "reference" : {
            "pattern" : "\\S*",
            "type" : "string"
          }
        },
        "description" : "https://www.hl7.org/fhir/R4/metadatatypes.html#expression"
      },
      "Extension" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "url" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "valueBase64Binary" : {
            "pattern" : "(\\s*([0-9a-zA-Z\\+\\=]){4}\\s*)+",
            "type" : "string"
          },
          "valueBoolean" : {
            "type" : "boolean"
          },
          "valueCanonical" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "valueCode" : {
            "pattern" : "[^\\s]+(\\s[^\\s]+)*",
            "type" : "string"
          },
          "valueDate" : {
            "pattern" : "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1]))?)?",
            "type" : "string"
          },
          "valueDateTime" : {
            "pattern" : "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)(-(0[1-9]|1[0-2])(-(0[1-9]|[1-2][0-9]|3[0-1])(T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00)))?)?)?",
            "type" : "string"
          },
          "valueDecimal" : {
            "type" : "number"
          },
          "valueId" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "valueInstant" : {
            "pattern" : "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))",
            "type" : "string"
          },
          "valueInteger" : {
            "type" : "integer",
            "format" : "int32"
          },
          "valueMarkdown" : {
            "pattern" : "\\s*(\\S|\\s)*",
            "type" : "string"
          },
          "valueOid" : {
            "pattern" : "urn:oid:[0-2](\\.(0|[1-9][0-9]*))+",
            "type" : "string"
          },
          "valuePositiveInt" : {
            "minimum" : 1,
            "type" : "integer",
            "format" : "int32"
          },
          "valueString" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "valueTime" : {
            "pattern" : "([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?",
            "type" : "string"
          },
          "valueUnsignedInt" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          },
          "valueUri" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "valueUrl" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "valueUuid" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "valueAddress" : {
            "$ref" : "#/components/schemas/Address"
          },
          "valueAge" : {
            "$ref" : "#/components/schemas/Age"
          },
          "valueAnnotation" : {
            "$ref" : "#/components/schemas/Annotation"
          },
          "valueAttachment" : {
            "$ref" : "#/components/schemas/Attachment"
          },
          "valueCodeableConcept" : {
            "$ref" : "#/components/schemas/CodeableConcept"
          },
          "valueCoding" : {
            "$ref" : "#/components/schemas/Coding"
          },
          "valueContactPoint" : {
            "$ref" : "#/components/schemas/ContactPoint"
          },
          "valueCount" : {
            "$ref" : "#/components/schemas/Quantity"
          },
          "valueDistance" : {
            "$ref" : "#/components/schemas/Quantity"
          },
          "valueDuration" : {
            "$ref" : "#/components/schemas/Duration"
          },
          "valueHumanName" : {
            "$ref" : "#/components/schemas/HumanName"
          },
          "valueIdentifier" : {
            "$ref" : "#/components/schemas/Identifier"
          },
          "valueMoney" : {
            "$ref" : "#/components/schemas/Money"
          },
          "valuePeriod" : {
            "$ref" : "#/components/schemas/Period"
          },
          "valueQuantity" : {
            "$ref" : "#/components/schemas/Quantity"
          },
          "valueRange" : {
            "$ref" : "#/components/schemas/Range"
          },
          "valueRatio" : {
            "$ref" : "#/components/schemas/Ratio"
          },
          "valueReference" : {
            "$ref" : "#/components/schemas/Reference"
          },
          "valueSampledData" : {
            "$ref" : "#/components/schemas/SampledData"
          },
          "valueSignature" : {
            "$ref" : "#/components/schemas/Signature"
          },
          "valueTiming" : {
            "$ref" : "#/components/schemas/Timing"
          },
          "valueContactDetail" : {
            "$ref" : "#/components/schemas/ContactDetail"
          },
          "valueContributor" : {
            "$ref" : "#/components/schemas/Contributor"
          },
          "valueDataRequirement" : {
            "$ref" : "#/components/schemas/DataRequirement"
          },
          "valueExpression" : {
            "$ref" : "#/components/schemas/Expression"
          },
          "valueParameterDefinition" : {
            "$ref" : "#/components/schemas/ParameterDefinition"
          },
          "valueRelatedArtifact" : {
            "$ref" : "#/components/schemas/RelatedArtifact"
          },
          "valueTriggerDefinition" : {
            "$ref" : "#/components/schemas/TriggerDefinition"
          },
          "valueUsageContext" : {
            "$ref" : "#/components/schemas/UsageContext"
          },
          "valueDosage" : {
            "$ref" : "#/components/schemas/Dosage"
          },
          "valueMeta" : {
            "$ref" : "#/components/schemas/Meta"
          }
        },
        "description" : "http://hl7.org/fhir/R4/extensibility.html#extension"
      },
      "GatewayError" : {
        "required" : [
          "message"
        ],
        "type" : "object",
        "properties" : {
          "message" : {
            "type" : "string",
            "example" : "There is an error"
          }
        },
        "description" : "An API Gateway error response, e.g. for authorization failures or rate limit exceeded."
      },
      "HoursOfOperation" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "modifierExtension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "daysOfWeek" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "enum" : [
                "mon",
                "tue",
                "wed",
                "thu",
                "fri",
                "sat",
                "sun"
              ]
            }
          },
          "allDay" : {
            "type" : "boolean"
          },
          "openingTime" : {
            "pattern" : "([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?",
            "type" : "string"
          },
          "closingTime" : {
            "pattern" : "([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?",
            "type" : "string"
          }
        }
      },
      "HumanName" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "use" : {
            "type" : "string",
            "enum" : [
              "usual",
              "official",
              "temp",
              "nickname",
              "anonymous",
              "old",
              "maiden"
            ]
          },
          "text" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "family" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "given" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "prefix" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "suffix" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "period" : {
            "$ref" : "#/components/schemas/Period"
          }
        },
        "description" : "https://www.hl7.org/fhir/R4/datatypes.html#HumanName"
      },
      "Identifier" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "use" : {
            "type" : "string",
            "enum" : [
              "usual",
              "official",
              "temp",
              "secondary",
              "old"
            ]
          },
          "type" : {
            "$ref" : "#/components/schemas/CodeableConcept"
          },
          "system" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "value" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "period" : {
            "$ref" : "#/components/schemas/Period"
          },
          "assigner" : {
            "$ref" : "#/components/schemas/Reference"
          }
        },
        "description" : "https://www.hl7.org/fhir/R4/datatypes.html#Identifier"
      },
      "Implementation" : {
        "required" : [
          "description"
        ],
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "modifierExtension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "description" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "url" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "custodian" : {
            "$ref" : "#/components/schemas/Reference"
          }
        }
      },
      "Issue" : {
        "required" : [
          "code",
          "severity"
        ],
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "modifierExtension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "severity" : {
            "type" : "string",
            "enum" : [
              "fatal",
              "error",
              "warning",
              "information"
            ]
          },
          "code" : {
            "pattern" : "[^\\s]+(\\s[^\\s]+)*",
            "type" : "string",
            "description" : "https://www.hl7.org/fhir/R4/valueset-issue-type.html"
          },
          "details" : {
            "$ref" : "#/components/schemas/CodeableConcept"
          },
          "diagnostics" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "location" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "expression" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          }
        },
        "description" : "https://www.hl7.org/fhir/R4/operationoutcome-definitions.html#OperationOutcome.issue"
      },
      "Location" : {
        "required" : [
          "name",
          "resourceType"
        ],
        "type" : "object",
        "properties" : {
          "resourceType" : {
            "type" : "string"
          },
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "meta" : {
            "$ref" : "#/components/schemas/Meta"
          },
          "implicitRules" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "language" : {
            "pattern" : "[^\\s]+(\\s[^\\s]+)*",
            "type" : "string"
          },
          "text" : {
            "$ref" : "#/components/schemas/Narrative"
          },
          "contained" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Resource"
            }
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "modifierExtension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "identifier" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Identifier"
            }
          },
          "status" : {
            "type" : "string",
            "enum" : [
              "active",
              "suspended",
              "inactive"
            ]
          },
          "operationalStatus" : {
            "$ref" : "#/components/schemas/Coding"
          },
          "name" : {
            "type" : "string"
          },
          "alias" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "description" : {
            "type" : "string"
          },
          "mode" : {
            "type" : "string",
            "enum" : [
              "instance",
              "kind"
            ]
          },
          "type" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CodeableConcept"
            }
          },
          "telecom" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ContactPoint"
            }
          },
          "address" : {
            "$ref" : "#/components/schemas/Address"
          },
          "physicalType" : {
            "$ref" : "#/components/schemas/CodeableConcept"
          },
          "position" : {
            "$ref" : "#/components/schemas/Position"
          },
          "managingOrganization" : {
            "$ref" : "#/components/schemas/Reference"
          },
          "partOf" : {
            "$ref" : "#/components/schemas/Reference"
          },
          "hoursOfOperation" : {
            "$ref" : "#/components/schemas/HoursOfOperation"
          },
          "availabilityExceptions" : {
            "type" : "string"
          },
          "endpoint" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Reference"
            }
          }
        },
        "description" : "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition-plannet-Location.html",
        "example" : {
          "resourceType" : "Location",
          "id" : "I2-4KG3N5YUSPTWD3DAFMLMRL5V5U000000",
          "status" : "active",
          "name" : "VISUAL IMPAIRMENT SVCS OUTPATIENT REHAB (VISOR)",
          "description" : "VISUAL IMPAIRMENT SVCS OUTPATIENT REHAB (VISOR)",
          "mode" : "instance",
          "type" : [
            {
              "coding" : [
                {
                  "display" : "OUTPATIENT CLINIC"
                }
              ],
              "text" : "OUTPATIENT CLINIC"
            }
          ],
          "telecom" : [
            {
              "system" : "phone",
              "value" : "908-647-0180 EXT 4437"
            }
          ],
          "address" : {
            "text" : "151 KNOLLCROFT ROAD LYONS NJ 07939",
            "line" : [
              "151 KNOLLCROFT ROAD"
            ],
            "city" : "LYONS",
            "state" : "NJ",
            "postalCode" : "07939"
          },
          "physicalType" : {
            "coding" : [
              {
                "display" : "BUILDING 7"
              }
            ],
            "text" : "BUILDING 7"
          },
          "managingOrganization" : {
            "reference" : "https://sandbox-api.va.gov/services/fhir/v0/r4/Organization/I2-TYIC2AW2NXNADER4SKRKJQZWRE000000",
            "display" : "LYONS VA MEDICAL CENTER"
          }
        }
      },
      "LocationBundle" : {
        "required" : [
          "resourceType",
          "type"
        ],
        "type" : "object",
        "properties" : {
          "resourceType" : {
            "type" : "string"
          },
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "meta" : {
            "$ref" : "#/components/schemas/Meta"
          },
          "implicitRules" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "language" : {
            "pattern" : "[^\\s]+(\\s[^\\s]+)*",
            "type" : "string"
          },
          "identifier" : {
            "$ref" : "#/components/schemas/Identifier"
          },
          "type" : {
            "type" : "string",
            "enum" : [
              "document",
              "message",
              "transaction",
              "transaction-response",
              "batch",
              "batch-response",
              "history",
              "searchset",
              "collection"
            ]
          },
          "timestamp" : {
            "pattern" : "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))",
            "type" : "string"
          },
          "total" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          },
          "link" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/BundleLink"
            }
          },
          "entry" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/LocationEntry"
            }
          },
          "signature" : {
            "$ref" : "#/components/schemas/Signature"
          }
        },
        "example" : {
          "resourceType" : "Bundle",
          "type" : "searchset",
          "total" : 1,
          "link" : [
            {
              "relation" : "self",
              "url" : "https://sandbox-api.va.gov/services/fhir/v0/r4/Location?_id=I2-4KG3N5YUSPTWD3DAFMLMRL5V5U000000&page=1&_count=15"
            },
            {
              "relation" : "first",
              "url" : "https://sandbox-api.va.gov/services/fhir/v0/r4/Location?_id=I2-4KG3N5YUSPTWD3DAFMLMRL5V5U000000&page=1&_count=15"
            },
            {
              "relation" : "last",
              "url" : "https://sandbox-api.va.gov/services/fhir/v0/r4/Location?_id=I2-4KG3N5YUSPTWD3DAFMLMRL5V5U000000&page=1&_count=15"
            }
          ],
          "entry" : [
            {
              "fullUrl" : "https://sandbox-api.va.gov/services/fhir/v0/r4/Location/I2-4KG3N5YUSPTWD3DAFMLMRL5V5U000000",
              "resource" : {
                "resourceType" : "Location",
                "id" : "I2-4KG3N5YUSPTWD3DAFMLMRL5V5U000000",
                "status" : "active",
                "name" : "VISUAL IMPAIRMENT SVCS OUTPATIENT REHAB (VISOR)",
                "description" : "VISUAL IMPAIRMENT SVCS OUTPATIENT REHAB (VISOR)",
                "mode" : "instance",
                "type" : [
                  {
                    "coding" : [
                      {
                        "display" : "OUTPATIENT CLINIC"
                      }
                    ],
                    "text" : "OUTPATIENT CLINIC"
                  }
                ],
                "telecom" : [
                  {
                    "system" : "phone",
                    "value" : "908-647-0180 EXT 4437"
                  }
                ],
                "address" : {
                  "text" : "151 KNOLLCROFT ROAD LYONS NJ 07939",
                  "line" : [
                    "151 KNOLLCROFT ROAD"
                  ],
                  "city" : "LYONS",
                  "state" : "NJ",
                  "postalCode" : "07939"
                },
                "physicalType" : {
                  "coding" : [
                    {
                      "display" : "BUILDING 7"
                    }
                  ],
                  "text" : "BUILDING 7"
                },
                "managingOrganization" : {
                  "reference" : "https://sandbox-api.va.gov/services/fhir/v0/r4/Organization/I2-TYIC2AW2NXNADER4SKRKJQZWRE000000",
                  "display" : "LYONS VA MEDICAL CENTER"
                }
              }
            }
          ]
        }
      },
      "LocationEntry" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "modifierExtension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "link" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/BundleLink"
            }
          },
          "fullUrl" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "resource" : {
            "$ref" : "#/components/schemas/Location"
          },
          "search" : {
            "$ref" : "#/components/schemas/Search"
          },
          "request" : {
            "$ref" : "#/components/schemas/Request"
          },
          "response" : {
            "$ref" : "#/components/schemas/Response"
          }
        }
      },
      "Messaging" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "modifierExtension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "endpoint" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/MessagingEndpoint"
            }
          },
          "reliableCache" : {
            "minimum" : 0,
            "type" : "integer",
            "format" : "int32"
          },
          "documentation" : {
            "pattern" : "\\s*(\\S|\\s)*",
            "type" : "string"
          },
          "supportedMessage" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/SupportedMessage"
            }
          }
        }
      },
      "MessagingEndpoint" : {
        "required" : [
          "address",
          "protocol"
        ],
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "modifierExtension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "protocol" : {
            "$ref" : "#/components/schemas/Coding"
          },
          "address" : {
            "pattern" : "\\S*",
            "type" : "string"
          }
        }
      },
      "Meta" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "versionId" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "lastUpdated" : {
            "pattern" : "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))",
            "type" : "string"
          },
          "source" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "profile" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "security" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Coding"
            }
          },
          "tag" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Coding"
            }
          }
        },
        "description" : "https://www.hl7.org/fhir/R4/resource.html#meta"
      },
      "Money" : {
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "value" : {
            "type" : "number"
          },
          "currency" : {
            "pattern" : "[^\\s]+(\\s[^\\s]+)*",
            "type" : "string"
          }
        },
        "description" : "https://www.hl7.org/fhir/R4/datatypes.html#Money"
      },
      "Narrative" : {
        "required" : [
          "div",
          "status"
        ],
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "status" : {
            "type" : "string",
            "enum" : [
              "generated",
              "extensions",
              "additional",
              "empty"
            ]
          },
          "div" : {
            "pattern" : "<.+>",
            "type" : "string"
          }
        },
        "description" : "https://www.hl7.org/fhir/R4/narrative.html"
      },
      "Operation" : {
        "required" : [
          "definition",
          "name"
        ],
        "type" : "object",
        "properties" : {
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "modifierExtension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "name" : {
            "pattern" : "[ \\r\\n\\t\\S]+",
            "type" : "string"
          },
          "definition" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "documentation" : {
            "pattern" : "\\s*(\\S|\\s)*",
            "type" : "string"
          }
        }
      },
      "OperationOutcome" : {
        "required" : [
          "issue",
          "resourceType"
        ],
        "type" : "object",
        "properties" : {
          "resourceType" : {
            "type" : "string"
          },
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "meta" : {
            "$ref" : "#/components/schemas/Meta"
          },
          "implicitRules" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "language" : {
            "pattern" : "[^\\s]+(\\s[^\\s]+)*",
            "type" : "string"
          },
          "text" : {
            "$ref" : "#/components/schemas/Narrative"
          },
          "contained" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Resource"
            }
          },
          "modifierExtension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "issue" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Issue"
            }
          }
        },
        "description" : "https://www.hl7.org/fhir/R4/operationoutcome.html",
        "example" : {
          "resourceType" : "OperationOutcome",
          "issue" : [
            {
              "severity" : "error",
              "code" : "request error",
              "details" : {
                "text" : "This request can not be processed"
              }
            }
          ]
        }
      },
      "Organization" : {
        "required" : [
          "active",
          "name",
          "resourceType"
        ],
        "type" : "object",
        "properties" : {
          "resourceType" : {
            "type" : "string"
          },
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "meta" : {
            "$ref" : "#/components/schemas/Meta"
          },
          "implicitRules" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "language" : {
            "pattern" : "[^\\s]+(\\s[^\\s]+)*",
            "type" : "string"
          },
          "text" : {
            "$ref" : "#/components/schemas/Narrative"
          },
          "contained" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Resource"
            }
          },
          "extension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "modifierExtension" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Extension"
            }
          },
          "identifier" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Identifier"
            }
          },
          "active" : {
            "type" : "boolean"
          },
          "type" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/CodeableConcept"
            }
          },
          "name" : {
            "type" : "string"
          },
          "alias" : {
            "type" : "array",
            "items" : {
              "type" : "string"
            }
          },
          "telecom" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/ContactPoint"
            }
          },
          "address" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Address"
            }
          },
          "partOf" : {
            "$ref" : "#/components/schemas/Reference"
          },
          "contact" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/OrganizationContact"
            }
          },
          "endpoint" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Reference"
            }
          }
        },
        "description" : "http://hl7.org/fhir/us/davinci-pdex-plan-net/StructureDefinition-plannet-Organization.html",
        "example" : {
          "resourceType" : "Organization",
          "id" : "I2-ZJURFG76GQN5LW7WP56TXADUFM000000",
          "identifier" : [
            {
              "system" : "http://hl7.org/fhir/sid/us-npi",
              "value" : "1205983228"
            }
          ],
          "active" : true,
          "name" : "NEW AMSTERDAM CBOC",
          "telecom" : [
            {
              "system" : "phone",
              "value" : "800 555-7710"
            },
            {
              "system" : "phone",
              "value" : "800 555-7710"
            }
          ],
          "address" : [
            {
              "text" : "10 MONROE AVE, SUITE 6B PO BOX 4160 NEW AMSTERDAM OH 44444-4160",
              "line" : [
                "10 MONROE AVE, SUITE 6B",
                "PO BOX 4160"
              ],
              "city" : "NEW AMSTERDAM",
              "state" : "OH",
              "postalCode" : "44444-4160"
            }
          ]
        }
      },
      "OrganizationBundle" : {
        "required" : [
          "resourceType",
          "type"
        ],
        "type" : "object",
        "properties" : {
          "resourceType" : {
            "type" : "string"
          },
          "id" : {
            "pattern" : "[A-Za-z0-9\\-\\.]{1,64}",
            "type" : "string"
          },
          "meta" : {
            "$ref" : "#/components/schemas/Meta"
          },
          "implicitRules" : {
            "pattern" : "\\S*",
            "type" : "string"
          },
          "language" : {
            "pattern" : "[^\\s]+(\\s[^\\s]+)*",
            "type" : "string"
          },
          "identifier" : {
            "$ref" : "#/components/schemas/Identifier"
          },
          "type" : {
            "type" : "string",
            "enum" : [
              "document",
              "message",
              "transaction",
              "transaction-response",
              "batch",
              "batch-response",
              "history",
              "searchset",
              "collection"
            ]
          },
          "timestamp" : {
            "pattern" : "([0-9]([0-9]([0-9][1-9]|[1-9]0)|[1-9]00)|[1-9]000)-(0[1-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])T([01][0-9]|2[0-3]):[0-5][0-9]:([0-5][0-9]|60)(\\.[0-9]+)?(Z|(\\+|-)((0[0-9]|1[0-3]):[0-5][0-9]|14:00))",
            "type" : "string"
[...]
